<div class="container">
    <h2>Edit Task</h2>

    <%= render 'form', task: @task, url: category_task_path(@category.id, @task.id), method: :patch%>

    <p><%= link_to 'Back', category_task_path(@category.id, @task.id) %></p>
</h5>
