<div style="display:flex">
    <h2>Task Taker</h2>
        <div class="login-menu">
        <% if user_signed_in? %>
            <span><%= link_to 'Profile', edit_user_registration_path %></span>
            <span><%= link_to 'Log out', destroy_user_session_path, method: :delete %></span>
        <% else %>
            <span><%= link_to 'Log In', new_user_session_path %></span>
            <span><%= link_to 'Sign Up', new_user_registration_path %></span>
        <% end %>
        </div>
</div>
